.main, .nav-div, .mainTitle, .homepage {
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Avanta Garde', sans-serif;
  }


  body {
    background: #FFFFFF;
    display:inline;
  }
  
  .navbar {
    display: flex;
  }
  
  .links {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .selection {
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .section1 {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
  }

  .section2 {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
  }

  .section3 {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
  }

  .my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .my-table th,
  .my-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .my-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }

  .visitor-table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
  }

  .visitor-table th,
  .visitor-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .visitor-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }

  .center-image {
    margin: auto
  }

  .easy {
    background-color: lightgreen;
  }

  .moderate {
    background-color: lightyellow;
  }

  .hard {
    background-color: lightcoral;
  }
  
